			body{
				background-image: url("../img/bk.jpg");
				background-repeat: no-repeat;
				overflow: hidden !important;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
				-webkit-touch-callout: none;
			}
			canvas, img {
				overflow: hidden;
			    image-rendering: optimizeQuality;
			    image-rendering: -moz-crisp-edges;
			    image-rendering: -webkit-optimize-contrast;
			    image-rendering: optimize-contrast;
			    -ms-interpolation-mode: nearest-neighbor;
			}
			.container #maincanvas #menu{
				overflow: hidden !important;
			}
			#maincanvas, #home{
				height: 1080px;
				width: 868px;
				left:0px;
				top: 0;
				opacity:1;
				position: absolute;
			}
			#maincanvas{
				z-index: 0;
			}

			#maincontainer{
				width: 868px;
				height: 1080px;
				left: 530px;
				position: absolute;
				padding: 0; margin: 0;
			}

/* -----------------------Home, Model Selection---------------------------------*/

			#home{
				display: inline-block !important;
				z-index: 1;
				text-align: center;
				overflow-y: hidden;
				background: #424242;

				-webkit-perspective: 700px; 
				-webkit-perspective-origin-x: 480px; 
			}

	#view {  
		width: 868px; 
		height: 1080px;
	}

	#stack { position: relative; 
		width: 100%; height: 100%; 
		top: 300px;
	}
	#stack li { position: absolute; top: 0; left: 0; 
		width: 800px; height: 996px; 
		background: #424242; 

		-webkit-transition: all .5s linear; 
		-o-transition: all .5s linear; 
		-ms-transition: all .5s linear; 
		-moz-transition: all .5s linear; 
		transition: all .5s linear;
		/*-webkit-box-shadow: 5px #000;*/ 
	}
	#stack img { display: block; width: 100%; height: 100%;}


			.paddingorange{
				border:solid orange;
				background: orange;
			}
			.modeljumping{
				background: orange;
				opacity: 0.7;

				filter: blur(5px) grayscale(50%);
				-moz-filter:blur(5px) grayscale(20%);
				-webkit-filter:blur(5px) grayscale(20%);
				-o-filter:blur(5px) grayscale(20%);
				-ms-filter:blur(5px) grayscale(20%);
			}
			.spanmodel{
				position:absolute; 
				width: inherit;
				height: inherit;
				top: 50%; left: 37%;
				display: block !important;
				text-align:center !important;
				font-size:9em !important; 
				line-height:0;	
				z-index: 10;
				background-color:rgba(200,200,50,0.7);
				color:rgba(253,173,0,0);	
			}
			.modeljumpingspan{
				color:rgba(250,200,0,1);
			}

			.progress-bar-custom {background: rgba(173, 173, 173, 1);}

			img{
				height: 100%;
				width: 100%;
			}
			
/* -----------------------main canvas---------------------------------*/
			.footer{
				position: fixed;
				margin: 0 auto;
				text-align: center;
				bottom: 2%;
				float: right;
				right: 30%;
				z-index: 11;
				font: 20px 'Jacques Francois Shadow', cursive;
				font-style: oblique;
				direction: rtl !important;
				color: white;
				font-style: oblique;
			}
			a { color: white; text-decoration: none; border-bottom: 1px dotted white; 
				 -webkit-user-select: none !important; }

			#flowcursor{
				background: url(../img/cursor.png), center center no-repeat;
				background-size: 100% 100%;
				position: absolute;
				z-index: 100;
				opacity: 0;
			}

			#instruction, #instruction1{
				left: -500%;
				text-align: center;
				position: fixed;
			}
			#instruction{
				top: 50%; 
			}
			#instruction1{
				top: 20%; 
			}

			#nextinstruct{
				width: 12em;
				height: 6em;
				margin:-6em -3em;
				left: -500%;
				top: 50%; 
				position: fixed;
				background: grey;
				opacity: 0;
				z-index: 3;
				vertical-align: middle;
			}

			#nextinstruct span, #compare span{
				position: relative;
				vertical-align: middle;
				color: white;
			}

			#nextinstruct span h2, #compare span{
				font: 1.8em 'Oswald', sans-serif;
				text-align: center;
				vertical-align: middle;
				line-height: normal;
			}

/* -----------------------MENU---------------------------------*/
			#menu{
				position: fixed;
				top: -1000px;
				left: 530px;
				width: 868px;
				z-index: 3;
				background-color:rgba(0, 0, 0, 0.5);
			}

			#backhome{
				line-height: normal;
				cursor: pointer;
				color: white;
				text-align: center;
				clear: none;
				display: inline-block;
			}

			.progressthumb{
				opacity: 0.9;
				display: inline-block;
				position: relative;
				margin: auto;
				background: grey;
				vertical-align: middle;
			}

			.bars{
				display: inline-block;
				position: relative;
				margin: auto;
				opacity: 1;
			}

			#percent{
				float: right;
				position: absolute;
				right: 30% !important;
				font: 2em 'Righteous', sans-serif;
				line-height: 0.5em;
				color: orange;
			}

			.bars span {	
				position: relative;
				font: 1.5em 'Oswald', sans-serif;
				line-height: 1em;
				color: white;
			}

			.menubtn{
				position: relative;
				background: black;
				margin: 0;
			}
			#compare{
				opacity: 0;
				float: right;
				background: #f39c13;
			}



/* -----------------------different screen---------------------------------*/		
@media only screen and (min-width: 992px) {
	.progressthumb{
		width: 6.2em;
		height: 7.4em;
		padding: 0.5em;
	}


	.menubtn{
		height: 5em;
	}
	.bars{
		width:600px;
	}

	#menu{
		height:5em;
	}
	#backhome{
		width: 5em; 
		height:5.6em;
		top: -10px; left: 0;
	}
	#backhome b{
		font:2.4em 'Bevan'; line-height:2.7em;
	}
	#backhome span{
		font: 1.8em 'Oswald', sans-serif;
		line-height: normal;
	}
	#compare{
		width: 8em;
		font: 1em Bevan !important;
		line-height: normal;
	}

	#instruction, #instruction1{
		width: 36em;
		height: 28em;
		margin: -18em -14em;
	}
	#flowcursor{
		width: 5em;
		height: 5em;
	}
}/*--big screen over--*/
