html,
button,
input,
select,
textarea,
table{
    color: #222;
    font-family:  gill sans mt,helvetica;
    border: none;
}

h3{
    font-size: 30px;
    line-height: 50px;
    color: white;
}

h2{
    color: #fc7247;
    font-size: 50px;
    font-family:  gill sans mt,helvetica;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #284e67;
}

html,body {
    height:100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
a{
    color: #ffffff !important;
    font-style: none !important;
}
a:hover{
    color:#58bcfa;
}

img{
    background-size: 100% 100%;
    height: 500px;
    width: 850px;
}

#container{
    width: 100%;
    height: 120%;
    margin: 0;
    background: #284e67;
}

.upperContainer{
    position: relative;
    width: 100%;
    height: 270px;
    overflow:hidden; 
}
.lowerContainer{
    width: 100%;
    height: 80%;
    position: relative;
    color: #4f4e45;
}

.menu{
    height: 270px;
    width: auto;
    color: white;
    overflow: hidden;
    text-align: center;
    font: 1.5em century gothic;
    line-height: 4em;
    z-index: 1;
}

#logo{
  top: 5px;
  left: 42%;
  height: 150px;
  width: 150px;
  position: absolute;
  background: url(../imgs/logoL.png) center center no-repeat;
  background-size: 100% 100%;
}



/*------------- position ---------------*/
.fblogin{
    top: 150px;
}
.backBlue{
    background:rgba(184, 209, 219, 0.7);
}
.marginSmall{
    margin: 10px;
}
.paddingSmall{
    padding: 10px;
}
.colorW{
    color: white;
}

/*------------- position ---------------*/


.subtitle{
    text-align: center;
}
#feed{
    text-align: center;
}

#lamp{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 15% !important;
    top: -50px !important;
}


/* footer */
.footer{
    bottom: 1px;
    color: #1c4d6c;
    left: 42%;
    bottom: 5%;
    text-align: center center !important;
    position: relative;
    font: 14px century gothic;
}
